<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=('/css/log.css')) }}">
        <title>Salon</title>
    </head>
    <body>
        <div class="wrapper">
            <div>
                <h1>Login</h1>
            </div>
            <form action="/login" method="POST">
                    <!-- insert flash method here -->
                <div>
                    {% with messages = get_flashed_messages(category_filter=["login"]) %}
                        {%if messages %}
                            {% for message in messages %}
                            <p>{{ message | safe }}</p>
                            {%endfor%}
                        {%endif%}
                    {%endwith%}
                </div>
                <div class="input-box">
                    <label for="email"></label>
                    <input type="text" name="email" placeholder="Email" id="email">
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <label for="password"></label>
                    <input type="password" name="password" placeholder="Password" id="password">
                    <i class="bx bxs-lock"></i>
                </div>
                <div class="remember_me">
                    <label><input type="checkbox">Remember Me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <input type="submit" value="Login" class="btn">
            </form>
            <div class="register_link">
                <p> Don't have an account?<a href="/register"><button>Register</button></a></p>
            </div>
        </div>
    </body>
</html>